body {
    display: flex;
    justify-content: center;
}

.contenedor{
   border-style: solid;
   width: 100%;
   height: 300px;
   margin: 15px;

}

.nombre{
    font-family: fantasy;
    display: flex;
    justify-content: center;
}

.caja2{
   display: flex;
   justify-content: space-between;
   width: 100%;
   
}

.caja3{
    display: flex;
    justify-content: center;
    gap: 90px;

}
